footer {
  padding: 50px;
  text-align: center;
  background-color: #212127;
}

footer p {
  margin: 0px;
  padding: 0px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: lighter;
  line-height: 40px;
}
