#portfolio {
  height: 858px;
  padding: 30px;
  text-align: center;
}

#portfolio>img {
  margin-bottom: 40px;
}

.swipe {
  height: 450px;
}

.swipe img {
  height: 100%;
}

.lesson16-img img {
  height: 77%;
  margin-top: 45px;
}

.lesson9-img img {
  height: 46%;
}

.portfolio-text {
  margin: 70px 0 30px;
}

.swipe-link {
  height: 50px;
  padding: 7px 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff8c77;
  font-size: 12px;
}

.swipe-link:hover {
  color: #212127;
  text-decoration: none;
}

.carousel {
  background-color: #cee7eb;
  padding: 50px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
  color: #ff8c77;
}

.carousel-indicators .active {
  background-color: #ff8c77;
}

.carousel-indicators li {
  border: 1px solid #ff8c77;
}

@media screen and (max-width: 768px) {
  #portfolio {
    height: 890px;
  }
  #portfolio>img {
    margin-bottom: 40px;
    height: 120px;
  }
  #portfolio p {
    width: 100%;
    font-size: 13px;
    line-height: 1.5;
  }
  .swipe {
    height: 300px;
  }
  .portfolio-text {
    margin: 0;
  }
  .carousel {
    padding: 25px;
  }
  .port-img {
    height: 400px;
    background-image: url("../img/portfolio-img.jpeg");
    background-position: center;
    background-size: cover;
  }
}
